[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
"discord.py" = "==1.7.3"
imageio-ffmpeg = "==0.4.4"
imutils = "==0.5.4"
numba = "==0.53.1"
numpy = "==1.20.3"
opencv-python = "==4.5.2.54"
pillow = "==8.3.0"
pip = "==20.2.4"
pyimgur = "==0.6.0"
python-dotenv = "==0.17.1"
pytz = "==2021.1"

[requires]
python_full_version = "3.8.7"
